@charset "UTF-8";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Components
@import "components/global";
@import "components/notice";
@import "components/sections/sections";
@import "components/sections/footer";

// Individual sections
@import "components/sections/head";
@import "components/sections/astronaut";
@import "components/sections/me";
@import "components/sections/references";
