@import "styles/variables.scss";

.hero {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  min-height: 500px;
  background-color: $nice-grey;

  @media #{$medium-and-down} {
    height: auto;
  }

  h1 {
    margin-bottom: 5%;
    margin-left: 5%;
    text-shadow: rgba(0, 0, 0, 0.5) 10px 10px 25px;
    font-size: 7em;

    line-height: 1.4;
    letter-spacing: -1.4px;
    transition: all 0.3s;
    z-index: 2;

    @media #{$medium-and-down} {
      font-size: 5em;
    }

    small {
      display: block;
      font-size: 0.6em;
      font-style: normal;
      line-height: normal;
    }
  }
}

.backgroundImage {
  z-index: 0;
  object-fit: cover;
  object-position: 100% 72%;
  pointer-events: none;
  user-select: none;
}
