@import "styles/variables.scss";

//* General Styles
// Make sure that absolute-positioned elements don't make the page scroll horizontally
body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background-color: #000;
  top: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: $primary-font;
  color: white;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
h3 {
  font-style: normal;
}
// There is some weird positioning going on here. Mixin for headline used in references and goals
.headline {
  color: $nice-grey;
  font-weight: 700;
  font-size: 3em;
  margin: 0.92em 0;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
@media #{$medium-and-down} {
  .headline {
    position: relative;
    align-self: center;
    left: auto;
    transform: none;
  }
}
@media #{$small-and-down} {
  .headline {
    font-size: 2em;
  }
}
//* Force images and figures with class .no-drag to be not draggable
.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}
// Container used in goals and me
.align-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75%;
}
@media #{$medium-and-down} {
  .align-container {
    flex-direction: column;
  }
}

// Bounce to top hover-effect
.hvr-bounce-to-top {
  position: relative;
  transform: translateZ(0);
  transition-property: color, transform;
  transition-duration: 0.5s;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-color;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

section {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
