@import "styles/variables.scss";

//* General Styles
// Make sure that absolute-positioned elements don't make the page scroll horizontally
body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background-color: #000;
  top: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: $primary-font;
  color: white;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
h3 {
  font-style: normal;
}
// There is some weird positioning going on here. Mixin for headline used in references and goals
.headline {
  color: $nice-grey;
  font-weight: 700;
  font-size: 3em;
  margin: 0.92em 0;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
@media #{$medium-and-down} {
  .headline {
    position: relative;
    align-self: center;
    left: auto;
    transform: none;
  }
}
@media #{$small-and-down} {
  .headline {
    font-size: 2em;
  }
}
//* Force images and figures with class .no-drag to be not draggable
.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}
// Container used in goals and me
.align-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75%;
}
@media #{$medium-and-down} {
  .align-container {
    flex-direction: column;
  }
}

section {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
