@import "styles/variables.scss";

.hero {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-height: 500px;
  background-color: $nice-grey;

  @media #{$medium-and-down} {
    height: auto;
  }

  @media #{$small-and-down} {
    text-align: center;
    justify-content: flex-end;
  }

  h1 {
    margin-left: 5%;
    text-shadow: rgba(0, 0, 0, 0.5) 10px 10px 25px;
    font-size: 5em;
    transition: all 0.3s;

    @media #{$medium-and-down} {
      font-size: 4em;
    }

    @media #{$small-and-down} {
      font-size: 2.5em;
      margin: 0 auto;
      margin-bottom: 5%;
    }

    small {
      display: block;
      font-size: 0.6em;
      font-style: normal;
      line-height: normal;
    }
  }
}

.backgroundImage {
  z-index: -1;
  object-fit: cover;
  object-position: 50% 72%;
}

.navigation {
  font-family: $secondary-font;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  margin: 20px;

  a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      display: block;
      margin: 0 10px;
    }
  }
}
