@import "styles/variables.scss";

footer {
  background: linear-gradient(250deg, #2b5fbb, #0a224c);
  background-size: 400% 400%;
  height: 100px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background: #ffffff;
    border: 0 solid #4c4f4f;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2),
      0 8px 17px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 40px;
    font-family: Merriweather;
    font-weight: 300;
    font-style: italic;
    color: #4c4f4f;
    line-height: 16px;
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }

  .pgp-key {
    font-family: $secondary-font;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    transform: translateY(50%);
    right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.75em;
  }
}
@media #{$small-and-down} {
  footer {
    animation: none;
  }
}
