@import "styles/variables.scss";

section {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
@media #{$medium-and-down} {
  section {
    height: 600px;
  }
}
