@import "styles/variables.scss";

.astronaut {
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to top, #2b5fbb 0%, #0a224c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;

  @media #{$medium-and-down} {
    height: auto;
  }

  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  small {
    font-style: normal;
  }
}

.helmet {
  transform: rotate(-15deg);
  width: 400px;
  height: auto;
  right: -8vw;
  position: fixed;
  bottom: -2.5em;
  opacity: 1;
  z-index: 0;
  fill: white;
  filter: drop-shadow(-5px -5px 25px rgba(0, 0, 0, 0.2));

  @media #{$medium-and-down} {
    display: none;
  }
}

.typedCursor {
  opacity: 1;
  animation: blink 0.7s infinite;
  display: inline-block;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
