#astronaut {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
  }
}
@media #{$medium-and-down} {
    #astronaut {
      height: auto;
    }
}
#helmet {
  transform: translateY(42vh) rotate(-15deg);
  width: 400px;
  height: auto;
  right: -8vw;
  opacity: 0.3;
  position: fixed;
  top: 2.5vh;
  z-index: 0;
}
.emphasize {
  font-style: normal;
  font-weight: normal;
  &:before,
  &:after {
    content: "___";
    position: relative;
    font-weight: 300;
    top: -0.5em;
    color: #FFF;
  }
  &:before {
    right: 0.5em;
  }
  &:after {
    left: 0.5em;
  }
}
