#astronaut {
  position: relative;
  z-index: -1;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;

  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media #{$medium-and-down} {
    #astronaut {
      height: auto;
    }
}

#helmet {
  transform: rotate(-15deg);
  width: 400px;
  height: auto;
  right: -8vw;
  opacity: 0.3;
  position: fixed;
  bottom: -2em;
  z-index: -1;
}

.emphasize {
  font-style: normal;
  font-weight: normal;

  &:before,
  &:after {
    content: "___";
    position: relative;
    font-weight: 300;
    top: -0.5em;
    color: #FFF;
  }

  &:before {
    right: 0.5em;
  }

  &:after {
    left: 0.5em;
  }

}
