#coffee {
  display: flex;
  align-items: center;
  background-image: url(".././img/optimized/coffee-mask.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    margin-left: 5%;
    font-size: 5em;
    small {
      display: block;
      font-size: 0.6em;
      font-style: normal;
      line-height: normal;
    }
  }
}
