#coffee {
  display: flex;
  align-items: center;
  background-image: url("/img/dist/beautiful-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 300px;
  h1 {
    margin-left: 5%;
    text-shadow: rgba(0,0,0,.5) 10px 10px 25px;
    font-size: 5em;
    transition: all 0.3s;
    small {
      display: block;
      font-size: 0.6em;
      font-style: normal;
      line-height: normal;
    }
  }

  nav {
    font-family: $secondary-font;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    right: 0;
    margin: 10px;
    a {
      color: rgba(255, 255, 255, .8);
      text-decoration: none;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        display: block;
        margin: 0 10px;
      }
    }
  }
}
@media #{$medium-and-down} {
    #coffee {
      height: auto;
      & h1 {
        font-size: 4em;
      }
    }
}
@media #{$small-and-down} {
    #coffee h1 {
    font-size: 2.5em;
    margin: 0 auto;
    }
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    transform: translateX(-10%);
    display: inline-block;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
