#me {
  background-color: $nice-grey;
  position: relative;
  transition: all 0.3s;
}
@media #{$medium-and-down} {
  #me {
    height: auto;
  }
}
.image-holder {
  margin: 0 40px 0 0;
  transition: all 0.3s;
}
@media #{$medium-and-down} {
  .image-holder {
    margin: 40px;
  }
}
#picture-marc {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}
#about-me {
  max-width: 600px;
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 1.3em;
  color: #FFF;
  transition: all 0.3s;
  span {
    font-family: $primary-font;
    font-style: italic;
    font-weight: 700;
  }
}
@media #{$medium-and-down} {
  #about-me {
    text-align: center;
  }
}
.video {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  & div:not(.no-opacity) {
    opacity: 0.4;
  }
}
