#me {
  background-color: $nice-grey;
  position: relative;
  #marc {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
    margin-right: 40px;
  }
  .video {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video div:not(.container) {
    opacity: 0.4;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 75%;
    z-index: 2;
  }
  p {
    font-family: $secondary-font;
    font-weight: 300;
    color: #FFF;
    font-size: 1.3em;
    max-width: 600px;
    span {
      font-family: $primary-font;
      font-style: italic;
      font-weight: 700;
    }
  }
}
