#references {
  background-color: #ECEDF3;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media #{$medium-and-down} {
  #references {
    height: auto;
  }
  .vertical-container {
    flex-direction: column;
    height: auto;
  }
}
.vertical-container {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do-something-paragraph {
  color: $nice-grey;
  font-family: $primary-font;
  font-style: italic;
  font-weight: 300;
  font-size: 1.25em;
  max-width: 75%;
  margin: 40px 20px;
  text-align: center;
  line-height: 1.5em;
}
// Reference-items
.reference-work {
  // Wrapper for image and caption
  position: relative;
  width: 305px;
  height: 230px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  display: flex;
  justify-content: center;
  &:hover .slide-up {
    transform: translateY(0px);
  }
  &:hover .reference-image {
    transform: translateY(-10px);
    filter: blur(5px);
  }
  &:hover button {
    opacity: 1;
  }
  a {
    cursor: default;
  }
}
.reference-image {
  // Image itself
  transition: all 0.3s;
  width: 320px;
}
.slide-up {
  // Caption + button (wrapper-element)
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  font-family: $secondary-font;
  font-weight: 300;
  background: linear-gradient(250deg, #2b5fbb, #0a224c);
  background-size: 200% 200%;
  transition: all 0.3s;
  transform: translateY(100%);
}
@media #{$medium-and-down} {
  .slide-up {
    transform: none;
    animation: none;
  }
}
.reference-caption {
  // Text: "What is this about?"
  display: block;
  margin: 7px 10px;
  color: #fff;
  font-size: 1.1rem;
}
.reference-action {
  // Button call-to-action
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 8px 20px;
  background-color: #FFF;
  color: $primary-color;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-width: 0;
  appearance: none;
  border-radius: 2px;
  transition: background-color, opacity 300ms ease-out;
  cursor: pointer;
  &:hover {
    background-color: darken(#fff, 5);
  }
  &:focus {
    outline: none;
  }
}
