#references {
  background-color: #ECEDF3;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $nice-grey;
    font-weight: 700;
    font-size: 3em;
    margin: 0.92em 0;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }
  a {
    cursor: default;
  }
  // Items
  figure {
    // wrapper for image and caption
    position: relative;
    width: 305px;
    height: 230px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: center;
  }
  img {
    // image itself
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    align-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .action {
    // caption + button (wrapper-element)
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    font-family: $secondary-font;
    // background of caption, animated gradient
    // @IMPORTANT! Remove on mobile!
    background: linear-gradient(250deg, #5cdce5, #008cba);
    background-size: 200% 200%;
    -webkit-animation: GradientAnimation 10s ease infinite;
    -moz-animation: GradientAnimation 10s ease infinite;
    animation: GradientAnimation 10s ease infinite;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  figure:hover .action {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  figure:hover img {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .caption {
    // text
    display: block;
    float: left;
    margin: 7px 10px;
    color: #fff;
    font-size: 1.1rem;
  }
  button {
    // button and it's text
    display: block;
    position: relative;
    float: right;
    height: 40px;
    padding: 8px 20px;
    margin: 0 0 1.25rem;
    background-color: #FFF;
    color: $primary-color;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-width: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    &:hover {
      background-color: darken(#fff, 5);
    }
    &:focus {
      outline: none;
    }
  }
}
